name: CI

on:
  push:

jobs:
  lint:
    name: "Lint"
    runs-on: ubuntu-slim

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@main
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: "Check formatting"
        run: uv run --group=dev ruff format --check

      - name: "Lint code"
        run: uv run --group=dev ruff check

      - name: "Check types"
        run: uv run --group=dev ty check

  test:
    name: "Test ${{ matrix.name }}"
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "Windows Server 2008 R2"
            box: server2008r2
            ip: 172.28.128.11
          - name: "Windows Server 2012 R2"
            box: server2012r2
            ip: 172.28.128.12
          - name: "Windows Server 2016"
            box: server2016
            ip: 172.28.128.13
          - name: "Windows Server 2019"
            box: server2019
            ip: 172.28.128.14
          - name: "Windows Server 2022"
            box: server2022
            ip: 172.28.128.15

    env:
      VAGRANT_DEFAULT_PROVIDER: libvirt
      VAGRANT_DISABLE_V2_WARNING: "1"

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install dependencies
        run: |
          wget -O - https://apt.releases.hashicorp.com/gpg | sudo gpg --dearmor -o /usr/share/keyrings/hashicorp-archive-keyring.gpg
          echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(grep -oP '(?<=UBUNTU_CODENAME=).*' /etc/os-release || lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/hashicorp.list
          sudo apt-get update
          sudo apt-get install -y qemu-kvm libvirt-daemon-system libvirt-clients libvirt-dev vagrant
          vagrant plugin install vagrant-libvirt

      - name: Setup libvirt
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm
          sudo usermod -aG libvirt,kvm "$USER"
          sudo systemctl enable --now libvirtd

      - name: Start Vagrant VM
        run: |
          sg libvirt -c 'vagrant up "${{ matrix.box }}"'
          sg libvirt -c 'vagrant winrm "${{ matrix.box }}" -c "echo Ready"'

      - name: Run tests
        env:
          WINRM_ENDPOINT: ${{ matrix.ip }}
          WINRM_AUTH_METHOD: negotiate
          WINRM_AUTH_PASSWORD: vagrant
          PYTHONPATH: ${{ github.workspace }}/src
        run: |
          uv sync --locked
          uv run python -m unittest -v

      - name: Cleanup Vagrant VM
        if: always()
        run: sg libvirt -c 'vagrant destroy -f "${{ matrix.box }}"'
